#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Center the loader */
  z-index: 9999;
}

/* Inner Spinner Element */
.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; /* This will handle the rotation */
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start with no rotation */
  }
  100% {
    transform: rotate(360deg); /* Full rotation */
  }
}

#content {
  opacity: 0; /* Only the content is hidden, not the loader */
  transition: opacity 0.3s ease;
}

/* #imageSlider img {
  min-width: 100%; 
  max-width: 100%;
} */
